.gameStartedContainer {
    text-align: center; 
    height: 99vh;
    background: url('https://prod.assets.earlygamecdn.com/images/Ascent-Map.jpg?mtime=1666010027') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gameStartedTitle {
    font-size: 3rem; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 0.5rem;
  }
  
  .agentImage {
    max-width: 90%; 
    max-height: 65vh; 
    margin-bottom: 2rem; 
  }
  
  .returnHomeButton {
    bottom: 20px;
    right: 15px;
    color: black;
    font-family: "monospace";
    font-weight: 600;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    padding: 10px 10px;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 0 3px 3px 2px rgba(255, 105, 135, .3);
     
  }
  
  @media (max-width: 768px) {
    .gameStartedTitle {
      font-size: 2rem;
    }
  
    .agentName {
      font-size: 1.5rem;
    }
  
    .agentImage {
      max-width: 90%;
      max-height: 30vh;
    }
  }
  